<div class = "albumes-container">
    <div class="albumes-left">
        <img src="assets/img/Leukanz.png" width="400px">
        <div class="almbumes-names"></div>
    </div>
    <div class="albumes-content">
        <div style="background: blue;" class="album" >
            <div class="album-button" style="background: pink;">
                Visitar
            </div>
        </div>
    </div>
    
</div>
<ngx-spinner id="mySpinner">
    <div class="loader"></div>
    <a style="color:white; font-size:20px; text-align:center">Cargando . . .</a>
  </ngx-spinner>
