<div class="component-content">
    <ngx-spinner type="ball-scale-multiple" id="mySpinner">
        <div class="loader"></div>
        <a style="color:white; font-size:20px; text-align:center">Cargando . . .</a>
      </ngx-spinner>
      <div class="" id="search-content">
            <input type="text" placeholder="Nombre...">
            <a id="search-button" type="button" class="btn btn-primary">
                <img src="assets/img/Lupa.png" >
            </a>
      </div>
      <div id="ilustrations-content">
            <div class="card"  *ngFor="let ilus of ilustrationList" (click)="toggleShow(ilus)">
                <div class="card-body ">
                    <div class="image-container">
                        <img [src]="ilus.image" class="ilustration-image" [alt] = 'ilus.name'>
                    </div>
                    <h5> <a class="ilustration-name">{{ilus.name}}</a></h5>
                    <!-- <p class="ilustration-description">{{ilus.description}}</p> -->
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0">{{ilus.type}}<i class="formato"></i></li>
                        <li class="list-inline-item m-0 text-secindary">{{ilus.insertDate | date}}<i class="fecha"></i></li>
                        <!-- <li class="list-inline-item m-0"><a class="btn btn-success" (click)="toggleShow(ilus)" >View</a><i class="fa fa-star text-success"></i></li> -->
                    </ul>
                </div>
            </div>
      </div>

      <div id="publicidad-izq" class="publi" style="background-image: url('assets/img/NoImg.png');">
      </div>
      <div id="publicidad-der" class="publi" style="background-image: url('assets/img/NoImg.png');">
      </div>
      <div class="modal-bg"*ngIf="modalOpen">
        <div class="modal-content" >
            <div class="close-content" (click)="modalClose()"><a>X</a></div>
            <div class="modal-image-container">
                <img [src]="modalIlustration.image" class="ilustration-image" [alt] = 'modalIlustration.name'>
            </div>
        </div>
      </div>
      
</div>


